nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
  background-color: lightblue;
  position: sticky;
  z-index: 10;
  top: 0;
  
  .link-logo{
    text-decoration: none;
    color: unset;
  }
}

.nav-ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.link-cart {
  width: 4rem;
  aspect-ratio: 1;
}

.nav-img {
  height: 1.5rem;
  aspect-ratio: 1;
}